<div class="container mt-5 w-75">
    <div>
        <form  (ngSubmit)="handleShippingAddress(shippingAddressForm)" [formGroup]="shippingAddressForm">
            <label for="details" class="mb-2">Details:</label>
            <input type="text" id="details" formControlName="details" class="form-control mb-2">
        
            <label for="phone" class="mb-2">Phone:</label>
            <input type="text" id="phone" formControlName="phone" class="form-control mb-2">
        
            <label for="city" class="mb-2">City:</label>
            <input type="text" id="city" formControlName="city" class="form-control mb-2">

            
            <button class="d-block  btn bg-main text-white mt-3 ms-auto" (click)="handleShippingAddress(shippingAddressForm)">Visa Payment <i class="fa-brands fa-cc-visa"></i></button>
     
           
              
           
        </form>
    </div>

</div>