
<div class="container mt-3 w-75 mx-auto">
    <h2>Register Now:</h2>
    <form (ngSubmit) ="handleResetNewPassword(resetNewPassword)"   [formGroup]="resetNewPassword" >
    <P *ngIf="apiErrorMessage" class="alert alert-danger text-danger">{{apiErrorMessage}}</P>
        

        <label for="email">Email:</label>
        <input formControlName="email" type="email" id="email" class="form-control" >

        <div *ngIf="resetNewPassword.get('email')?.invalid && resetNewPassword.get('email')?.touched">
            <p *ngIf="resetNewPassword.get('email')?.getError('required')" class="text-danger">Email is required</p>
            <p *ngIf="resetNewPassword.get('email')?.getError('email')" class="text-danger">Email not valid</p>
           </div>

        <label for="newPassword">New Password:</label>
        <input formControlName="newPassword" type="password" id="newPassword" class="form-control ">
        <div *ngIf="resetNewPassword.get('newPassword')?.invalid && resetNewPassword.get('newPassword')?.touched">
            <p *ngIf="resetNewPassword.get('newPassword')?.getError('required')" class="text-danger">Password is required</p>
            <p  *ngIf="resetNewPassword.get('newPassword')?.getError('pattern')" class="text-danger">Password not valid</p>
           </div>
        
      <div class="d-flex justify-content-end align-content-center align-items-center">
       
        <button [disabled]="resetNewPassword.invalid || isLoading" class="btn btn-success text-white mt-4">
           
            <span *ngIf="!isLoading">Register</span>
            <span *ngIf="isLoading"><i class="fa-solid fa-spinner fa-spin"></i></span>
        </button>
      </div>
         
    </form>
</div>

