<div class="container-fluid bg-light ">
<div class="p-4 container mt-3">
    <h2>Get The FrestCart App</h2>
    <h3 class="h6 text-secondary mt-1">We will send you a link,open it on your phone to download the app.</h3>
    <input type="text" class="w-75 mt-3 p-1" placeholder="Email...">
    <button class=" ms-4 btn text-white bg-main me-auto"> Share App Link</button>
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <span class="font-sm ">Payment Partners</span>
            <img src="./assets/images/images/visa-1.svg" alt="">
            <img src="./assets/images/images/master.svg" alt="">
        </div>
        <div>
            <span class="font-sm ">Get Deliveries with FreshCart</span>
            <img src="./assets/images/images/google-store.svg" alt="" width="40px">
            <img src="./assets/images/images/app-store.svg" alt="" width="40px">
        </div>
    </div>
   
</div>
</div>