

<div class="container mt-3 w-75 mx-auto">
    <h2>Forget Password:</h2>
    <p class="lead text-secondary font-sm mb-0">please enter your email address below.we will send you a verification code</p>
    <form (ngSubmit) ="handleForgetPassword(forgotPasswordForm)"   [formGroup]="forgotPasswordForm" >
    <P *ngIf="apiErrorMessage" class="alert alert-danger text-danger">{{apiErrorMessage}}</P>
        

        <label for="email">Email:</label>
        <input formControlName="email" type="email" id="email" class="form-control" >

        <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched">
            <p *ngIf="forgotPasswordForm.get('email')?.getError('required')" class="text-danger">Email is required</p>
            <p *ngIf="forgotPasswordForm.get('email')?.getError('email')" class="text-danger">Email not valid</p>
           </div>

       
        

        <button [disabled]="forgotPasswordForm.invalid || isLoading" class="btn btn-success text-white mt-4">
            <span *ngIf="!isLoading">Send</span>
            <span *ngIf="isLoading"><i class="fa-solid fa-spinner fa-spin"></i></span>
        </button>
    </form>
</div>