<div class="row gx-0 mt-5 mb-5">
    <div class="col-md-9">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <img src="./assets/images/images/banner-4.jpeg" alt="" class="w-100 object-fit-cover" height="400">
            </ng-template>  
            <ng-template carouselSlide> <img src="./assets/images/images/grocery-banner.png" alt="" class="w-100 object-fit-cover" height="400"></ng-template>  
            <ng-template carouselSlide> <img src="./assets/images/images/slide-2.jpeg" alt=""class="w-100 object-fit-cover" height="400"></ng-template>  
          </owl-carousel-o>
    </div>
    <div class="col-md-3">
        <img src="./assets/images/images/main-slider-2.jpeg" class="w-100 object-fit-cover" height="200" alt="">
        <img src="./assets/images/images/main-slider-3.jpeg" class="w-100 object-fit-cover" height="200" alt="">
    </div>
</div>

